.jum{
    background-image: url('https://secure.meetupstatic.com/photos/member/a/d/2/f/highres_245864335.jpeg');
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center;
    color: #fff; 
}